/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(255, 247, 0);
}
app-root{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}